<h2 mat-dialog-title>忘記密碼</h2>
<mat-dialog-content class="mat-typography">
    <h3></h3>
    <form action="" [formGroup]="forgot_group">
        <div class="icon_container" fxLayout="row">
            <span class="material-symbols-outlined">
                person
            </span>
            &nbsp;
            <div>學號</div>
        </div>
        <mat-form-field class="example-full-width">
            <mat-label>請輸入學號</mat-label>
            <input formControlName="stuId" matInput placeholder="學號" type="text">
        </mat-form-field>
        <br>
        <div class="icon_container" fxLayout="row">
            <span class="material-symbols-outlined">
                mail
            </span>
            &nbsp;
            <div>郵件</div>
        </div>
        <mat-form-field>
            <mat-label>郵件</mat-label>
            <input formControlName="email" type="email" matInput placeholder="pat@example.com">
            <mat-error
                *ngIf="forgot_group.get('forgot_email')?.hasError('forgot_email') && !forgot_group.get('forgot_email')?.hasError('required')">
                請輸入正確的郵件格式
            </mat-error>
            <mat-error *ngIf="forgot_group.get('forgot_email')?.hasError('required')">
                郵件格式 <strong>錯誤</strong>
            </mat-error>
        </mat-form-field>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>取消</button>
    <!-- <button class="button_style" mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="sant_change_email()">確定</button> -->
    <button class="button_style" mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onForgetPassword()">確定</button>
</mat-dialog-actions>