form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f3f8ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    input {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 16px;
        transition: border-color 0.3s;

        &:focus {
            outline: none;
            border-color: #4285f4;
        }

        &.ng-invalid.ng-touched {
            border-color: red;
        }
    }

    button {
        padding: 10px;
            background-color: #5ca0d3;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #003366;
            background-color: #2c5c81;
        }

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }
}