<div class="container">
    <header>
        <div class="menu-toggle" (click)="toggleSidebar()">
            <!-- <i class="fas fa-bars"></i> -->
            <span class="material-symbols-outlined">
                menu
            </span>
        </div>
        <div class="logo">
            <img src="../../assets/校徽.gif" alt="">
            <span>校園 AI 助手</span>
        </div>
        <div class="user-profile">
            <!-- <span>王小明</span> -->
        </div>
    </header>
    <div class="main-container">
        <!-- 背景覆蓋層 -->
        <div class="overlay" (click)="closeSidebar()"></div>

        <!-- 左側欄:用戶資訊與歷史 -->
        <div class="sidebar" #sidebar>
            <div class="user-info">
                <h2>使用者資訊</h2>
                <div class="avatar">
                    {{userName.at(0)}}
                </div>
                <p class="username">{{ userName }}</p>
                <!-- <p class="userid">學號:1111032022</p> -->
                <button class="user-info-btn" (click)="showUserInfoDialog()">使用者資訊</button>
            </div>

            <div class="history">
                <div class="history-header">
                    <h2>對話紀錄</h2>
                    <button class="chat-add-area" (click)="onCreateNewChat()" [disabled]="isAddButtonDisabled">
                        <span class="material-symbols-outlined">
                            add_circle
                        </span>
                    </button>
                </div>
                <ul>
                    <li *ngFor="let item of historyItems.slice().reverse(); let i = index"
                        [class.active]="historyItems.length - 1 - i === selectedHistoryIndex"
                        (click)="onHistoryClick(historyItems.length - 1 - i)">
                        <span class="timestamp">{{ item.createtime }}</span>
                        {{ item.title }}
                    </li>
                    <!-- <li *ngFor="let item of historyItems; let i = index" [class.active]="i === selectedHistoryIndex"
                        (click)="onHistoryClick(i)">
                        <span class="index">{{ i + 1 }}</span>
                        <span class="timestamp">{{ item.createtime }}</span>
                        {{ item.title }}
                    </li> -->
                </ul>
            </div>


            <div class="quick-ask">
                <h2>快速提問</h2>
                <button (click)="onQuickAskClick('中科大宿舍一間幾個人?')">中科大宿舍一間幾個人?</button>
                <button (click)="onQuickAskClick('中科大宿舍一間多少錢?')">中科大宿舍一間多少錢?</button>
                <button (click)="onQuickAskClick('中科大宿舍有門禁嗎?')">中科大宿舍有門禁嗎?</button>
                <button (click)="onQuickAskClick('哪裡借教室?')">哪裡借教室?</button>
                <button (click)="onQuickAskClick('有免費 Wi-Fi 嗎?')">有免費 Wi-Fi 嗎?</button>
            </div>

            <div class="version">
                <p>版本 v1.0.0</p>
                <p>更新:2025/04/30</p>
            </div>
        </div>
        <!-- 聊天區域 -->
        <div class="chat-container">
            <div class="chat-header">
                <div class="chat-title-area">
                    <h2>{{title}}</h2>
                </div>
                <!-- <div class="chat-add-area" (click)="onCreateNewChat()" [disabled]="newMenuIdIsTrue"> -->
                <button class="chat-add-area" (click)="onCreateNewChat()" [disabled]="isAddButtonDisabled">
                    <span class="material-symbols-outlined">
                        add_circle
                    </span>
                </button>
            </div>
            <div class="chat-messages" #chatMessages>

                <!-- 彈跳新增聊天室按鈕（只在剛進來時顯示） -->
                <div class="floating-add-chat-button" *ngIf="showAddChatButton" (click)="onCreateNewChat()">
                    <span class="material-symbols-outlined">
                        add_circle
                    </span>
                </div>

                <div *ngFor="let message of chatMessagesLists; let i = index" class="message-container">
                    <div *ngIf="message.type === '1'" class="user-message-container">
                        <div class="message user">{{ message.msg }}</div>
                        <div class="timestamp">{{ message.createTime}}</div>
                        <!-- <div class="message user">{{ message.text }}</div> -->
                        <!-- <div class="timestamp">{{ message.timestamp}}</div> -->
                    </div>
                    <div *ngIf="message.type === '0'" class="message-with-avatar">
                        <div class="ai-avatar">
                            <img src="../../assets/校徽.gif" alt="">
                        </div>
                        <div>
                            <div class="message bot">{{ message.msg }}</div>
                            <div class="timestamp">{{ message.createTime }}</div>
                            <!-- <div class="message bot">{{ message.text }}</div> -->
                            <!-- <div class="timestamp">{{ message.timestamp }}</div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="chat-input-container">
                <div class="chat-input-box">
                    <textarea class="chat-input chat-textarea" placeholder="請輸入問題..." rows="1"
                        [(ngModel)]="userInput" (keydown)="onChatKeyDown($event)" (input)="autoResize($event)"></textarea>
                    <button class="send-button" (click)="onSendClick()">送出</button>
                </div>
            </div>
        </div>
    </div>
</div>