<div>
    <div class="header" fxLayoutAlign="center center" fxLayout="row">
        <img alt="國立臺中科技大學" src="https://www.nutc.edu.tw/var/file/0/1000/img/2943/464250572.png">
    </div>
    <div class="content" fxLayout="row" fxLayoutAlign="center center" fxFill>
        <div class="welcome_section" fxFlex="45" fxLayoutAlign="center center" fxFlexFill>
            <h1>Welcome to<br>NUTC</h1>
        </div>
        <div class="login_section" fxFlex="55" fxLayout="column" fxLayoutAlign="center center">
            <div class="login_title" fxLayoutAlign="center center">
                <p>登入</p>
            </div>
            <form  class="input_container" fxLayout="column" fxLayoutAlign="space-around center">
                <div class="form_group" fxLayout="column">
                    <div class="icon_container" fxLayout="row">
                        <span class="material-symbols-outlined">
                            person
                        </span>
                        <div>帳號</div>
                    </div>
                    <mat-form-field>
                        <mat-label>帳號</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="form_group" fxLayout="column">
                    <div class="icon_container" fxLayout="row">
                        <span class="material-symbols-outlined">
                            key
                        </span>
                        <div>密碼</div>
                    </div>
                    <mat-form-field>
                        <mat-label>密碼</mat-label>
                        <input matInput type="password">
                    </mat-form-field>
                </div>
                <div class="btn_container" fxLayoutAlign="end">
                    <button mat-button class="btn_enter" (click)="check()" >確認</button>
                </div>
                <div class="link_a_container" fxLayout="row" fxLayoutAlign="space-between center">
                    <a href="#" class="sign_up" fxLayoutAlign="center center" routerLink="/register">註冊</a>
                    <a href="#" class="forgot_password">忘記密碼</a>
                </div>
            </form>
        </div>
    </div>
</div>