<div>
    <div class="header" fxLayoutAlign="center center" fxLayout="row">
        <img alt="國立臺中科技大學" src="https://www.nutc.edu.tw/var/file/0/1000/img/2943/464250572.png">
    </div>
    <div class="content" fxLayout="row" fxLayoutAlign="center center" fxFill>
        <div class="welcome_section" fxFlex="45" fxLayoutAlign="center center" fxFlexFill>
            <h1>Welcome to<br>NUTC</h1>
        </div>
        <div class="login_section" fxFlex="55" fxLayout="column" fxLayoutAlign="center center">
            <div class="login_title" fxLayoutAlign="center center">
                <p>登入</p>
            </div>
            <form  [formGroup]="form" class="input_container" fxLayout="column" fxLayoutAlign="space-around center">
                <div class="form_group" fxLayout="column">
                    <div class="icon_container" fxLayout="row">
                        <span class="material-symbols-outlined">
                            person
                        </span>
                        <!-- <mat-icon>person</mat-icon> -->
                        <div>&nbsp;學號</div>
                    </div>
                    <mat-form-field>
                        <mat-label>學號</mat-label>
                        <input matInput formControlName="account">
                    </mat-form-field>
                </div>
                <div class="form_group" fxLayout="column">
                    <div class="icon_container" fxLayout="row">
                        <span class="material-symbols-outlined">
                            key
                        </span>
                        <!-- <mat-icon >home</mat-icon> -->

                        <div>&nbsp;密碼</div>
                    </div>
                    <mat-form-field>
                        <mat-label>密碼</mat-label>
                        <input matInput type="password" formControlName="password">
                    </mat-form-field>
                </div>
                <div class="btn_container" fxLayoutAlign="end">
                    <!-- <button mat-button class="btn_enter" (click)="onclick_login_btn()" >登入</button> -->
                    <button mat-button class="btn_enter" (click)="onSubmit()" >登入</button>

                </div>
                <div class="link_a_container" fxLayout="row" fxLayoutAlign="space-between center">
                    <a href="#" class="sign_up" fxLayoutAlign="center center" routerLink="/register">註冊</a>
                    <button class="forgot_password" (click)="open_forgot_password_dialog()">忘記密碼</button>
                </div>
            </form>
        </div>
    </div>
</div>