
.button_style {
    border-radius: 0.5em;
    background: #70b3c8f7;
    box-shadow: 2px 2px 5px   #8eb2bd;
    width: 25%;
    color: #FFFCFC;
    font-size: 16px;
    font-weight: 700;
    height: 90%;
    background-color: #ADD8E6; /* LightBlue */
}
.mat-button{
    border-radius: 0.5em;
    background: #70b3c8f7;
    box-shadow: 2px 2px 5px   #8eb2bd;
    width: 25%;
    color: #FFFCFC;
    font-size: 16px;
    font-weight: 700;
    height: 90%;
    background-color: #ADD8E6; /* LightBlue */
}
button{
    border-radius: 0.5em;
    background: #70b3c8f7;
    box-shadow: 2px 2px 5px   #8eb2bd;
    width: 25%;
    color: #FFFCFC;
    font-size: 16px;
    font-weight: 700;
    height: 90%;
    background-color: #ADD8E6; /* LightBlue */
}