<div>
    <div class="header" fxLayout="row" fxLayoutAlign="center center">
        <div class="header_container" fxFlex>
            <img alt="國立臺中科技大學" src="../../assets/國立臺中科技大學.png">
        </div>
        <div class="user_icon" fxFlex="none">
            <span class="material-symbols-outlined">person</span>
        </div>
    </div>
    
    <div class="content" fxLayout="row" fxLayoutAlign="center start" fxFlexFill>
        <div class="menu" fxFlex="20" fxLayout="column">
            <div class="menu_container" fxLayout="column" fxLayoutGap="10px" fxFlexFill>
                <div class="menu_icon" fxLayoutAlign="start center">
                    <span class="material-symbols-outlined">menu</span>
                </div>
                <div class="menu_items" fxLayout="column" fxLayoutGap="5px">
                    <div>學校停車場在哪</div>
                    <div>記號可以進宿舍</div>
                    <div>學校停車場在哪</div>
                    <div>學校停車場在哪</div>
                    <div>學校停車場在哪</div>
                    <div>學校停車場在哪</div>
                    <div>學校停車場在哪</div>
                    <div>學校停車場在哪</div>
                    <div>學校停車場在哪</div>
                </div>
            </div>
        </div>
        
        <div class="chat_interface" fxFlex="80" fxLayout="column">
            <div class="chat_header" fxLayout="column" fxLayoutAlign="start center">
                <div class="chat_logo" fxFlex="none">
                    <div class="chat_logo_image">
                        <img src="../../assets/校徽.gif" alt="校徽" fxLayoutAlign="center center">
                    </div>
                </div>
                <div class="chat_content" fxFlex>
                    <div class="announcement_container" fxLayout="row" fxLayoutAlign="center center" fxFlex>
                        <div class="announcement_item" fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                            <div class="arrow_icon" fxFlex="none">
                                <span class="material-symbols-outlined">chevron_right</span>
                            </div>
                            <div class="announcement_text" fxFlex>
                                <div>教務處公告</div>
                                <div>113學年度第一學期開學及<br>選課相閩事宜</div>
                                <div>2024-09-12</div>
                            </div>
                            <div class="arrow_icon_inner" fxFlex="none">
                                <span class="material-symbols-outlined">chevron_left</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="input_area" fxFlex="none" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="input_container" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-form-field fxFlex>
                        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                    </mat-form-field>
                </div>
                <div class="send_icon" fxFlex="none">
                    <span class="material-symbols-outlined">send</span>
                </div>
            </div>
        </div>
    </div>
</div>
