.header {
    background-color: #ceeeff;
    /* AliceBlue */
}

.header_container {
    // background-color: #d7e3fa;
    /* AntiqueWhite */
    // overflow: hidden;
    height: 100%;

    img {
        width: auto;
        /* 寬度自動調整 */
        height: 100%;
        /* 高度和父容器一樣 */
        object-fit: cover;
        /* 確保圖片按比例縮放，但可能裁剪部分圖片來填滿容器 */
        padding: 3px;
    }
}

.user_icon {
    // margin: 10px;
    margin: 1%;
    background-color: #152a4c;
    height: 48px;
    width: 48px;
    /* LightCyan */
    border-radius: 100%;

    .material-symbols-outlined {
        font-size: 48px;
        font-weight: 100;
        color: #ceeeff;
        // border-radius: 100%;

    }
}

.content {
    // background-color: #1a236d;
    /* LemonChiffon */
}

.menu {
    // background-color: #1a236d;
    /* Bisque */
    height: 100%;
}

.menu_container {
    background-color: #1a236d;
    /* BlanchedAlmond */

}

.menu_icon {

    // background-color: #98fb98;
    /* PaleGreen */
    .material-symbols-outlined {
        margin: 10px;
        font-size: 38px;
        font-weight: 100;
        color: #ceeeff;
        border-radius: 100%;
        // background-color: #152a4c;
        border: #ceeeff 3px solid;
        margin-top: 5%;

    }
}

.menu_items {
    // background-color: #f5deb3;
    /* Wheat */
    // margin: 5%;
    div {
        margin: 15% 10%;
        font-size: large;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color:#ceeeff;
    }
}

.chat_interface {
    // background-color: #ffffff;
    /* LavenderBlush */
    height: 100%;
    overflow: auto;
  max-height: calc(100vh - 100px); /* 根據需求調整最大高度 */
  height: 650px;//
}
.chat_container{
    padding: 0px;
}

.chat_header {
    // background-color: #d3d3d3;
    height: 85%;
    /* LightGray */
}

.chat_logo {
    // background-color: #ffb6c1;
    /* LightPink */
        // margin: 5%;
        width: 100%;
}

.chat_logo_image {
    // background-color: #f0e68c;
// 
        margin: 10%;
    /* Khaki */
    img {
        border-radius: 100%;
        height: 100px;
        width: 100px;
        // margin: 5%;
    }
}

.chat_content {
    // background-color: #ffebcd;
    /* BlanchedAlmond */
    width: 100%
}

.announcement_container {
    // background-color: #ffe0b5;
    /* LightSalmon */
    height: 70%;
    width: 60%;
    padding: 0% 1%;
}

// .announcement_item {
//     background-color: #ffe4e1;
//     /* MistyRose */
// }

.arrow_icon {
    // background-color: #e6e6fa;
    /* Lavender */
    span{
        border-radius: 100%;
    }
    .material-symbols-outlined {
        background-color: #e6e6fa;
        font-size: 52px;
        font-weight: 100;
        color: #b2c6f8;
    }
}

.announcement_text{
    height: 90%;
    margin: 0% 10%;
    border-radius: 30px;
    background-color: #b2c6f8;
}
.announcement_title{
    font-size: 48px;
    max-height: 100%;
    margin: 5% 5%;
    margin-top: 10%;
}
.announcement_content{
    font-size: large;
    line-height:1.3em;
    margin: 5% 0%;
    height: 45%;
    max-height: 100%;
}
.announcement_data{
    max-height: 100%;
    font-size: large;
    height: 15%;
    margin: 5% 1%;
}

.input_area {
    width: 100%;
    max-width: 90%; /* 宽度控制为屏幕的90%，根据需求调整 */
    position: sticky;
//   bottom: 0;
//   width: 100%;
//   background-color: white; /* 如果需要 */
//   z-index: 1000; /* 確保它在其他元素之上 */
z-index: 10;
}

.input_container {
    width: 100%;
    max-width: 90%; /* 宽度为内容区域的90%，根据需求调整 */
}

.send_icon {
    margin-bottom: 10px; /* 发送图标与输入框的间距 */
}

.send_button {
    font-size: 2rem;
    cursor: pointer;
}

.input_field {
    width: 100%;
    max-width: 100%;
}

textarea {
    width: 100%;
    height: 50px; /* 可以根据需要调整高度 */
    resize: none; /* 禁止调整大小 */
}
mat-form-field {
    // background-color: #152a4c;
    *{
        // background-color: #152a4c !important;
        border: #152a4c;
        margin: 0px;
    }
    div{
        // background-color: #152a4c !important;
        margin: 0px;
    }
    border: #152a4c;

}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background-color: #b2c6f8;
  }
  
  .example-full-width {
    background-color: #132c6a;
    width: 100%;
  }

  .mat-form-field input {
    height: 20px;
    transition: height ease-in-out 400ms;
}

.mat-form-field input:focus {
    background-color: red !important;
    height: 50px;
    transition: height ease-in-out 400ms;
}


.conversation{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.user_message{
    // background-color: #132c6a;
    border-radius: 10px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 80%;
    margin: 5%;
    div{
        background-color: #b2c6f8;
        width: 50%;
        display: flex;
        justify-content: end;
        align-items: center;
        height: 100%;
        border-radius: 30px;
        font-size: 24px;
        padding: 3%;
        box-shadow:  2px #ceeeff ;
    }
}
.response_message{
    // background-color: #132c6a;
    border-radius: 10px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 80%;
    margin: 5%;
    div{
        background-color: #b2c6f8;
        width: 50%;
        display: flex;
        justify-content: start;
        align-items: center;
        height: 100%;
        border-radius: 30px;
        font-size: 24px;
        padding: 3%;

    }
}