<div fxLayout="column" fxFill>
    <div class="header" fxLayout="row" fxLayoutAlign="center center" fxFlex="8">
        <div class="menu_icon" fxLayoutAlign="start center">
            <span class="material-symbols-outlined" (click)="on_click_menu()">menu</span>
        </div>
        <div class="header_container" fxFlex fxLayoutAlign="center center" fxLayout="row">
            <img alt="國立臺中科技大學" src="../../assets/國立臺中科技大學.png">
        </div>
        <div class="user_icon" fxFlex="none" fxLayoutAlign="end center">
            <span class="material-symbols-outlined">person</span>
        </div>
    </div>
    <div class="content" fxLayout="row" fxLayoutAlign="center start" fxFlex="92">
        <div class="menu" fxFlex="17" fxLayout="column" *ngIf="isMenuVisible">
            <div class="menu_container" fxLayout="column" fxLayoutGap="10px" fxFlexFill>
                <div class="menu_icon" fxLayoutAlign="start center">
                    <span class="material-symbols-outlined" (click)="on_click_menu()">menu</span>
                </div>
                <div class="menu_items" fxLayout="column" fxLayoutGap="5px">
                    <div *ngFor="let item of menuItems">
                        {{ item }}
                    </div>
                </div>
            </div>
        </div>
        <div class="chat_interface" fxFlex="83" fxLayout="column">
            <!-- <div class="chat_container"> -->
            <div class="chat_container" fxLayout="column" fxFlexFill fxflex="50">
                <div *ngIf="!isChatBarVisible" class="chat_header" fxLayout="column" fxLayoutAlign="start center">
                    <div class="chat_logo" fxFlex="20" fxLayoutAlign="center center">
                        <div class="chat_logo_image">
                            <img src="../../assets/校徽.gif" alt="校徽" fxLayoutAlign="center center">
                        </div>
                    </div>
                    <div class="chat_content" fxFlex fxLayoutAlign="center center">
                        <div class="announcement_container" fxLayout="row" fxLayoutAlign="center center">

                            <div class="arrow_icon" fxFlex="none" (click)="on_click_arrow_right()">
                                <span class="material-symbols-outlined">chevron_left</span>
                            </div>
                            <div class="announcement_text" fxFlex>
                                <div class="announcement_title">{{ announcements[currentIndex].title }}</div>
                                <div class="announcement_content" fxLayoutAlign="center center">{{
                                    announcements[currentIndex].content }}</div>
                                <div class="announcement_date" fxLayoutAlign="end">{{ announcements[currentIndex].date
                                    }}</div>
                            </div>

                            <div class="arrow_icon" fxFlex="none" (click)="on_click_arrow_lift()">
                                <span class="material-symbols-outlined">chevron_right</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div *ngIf="isChatBarVisible" class="chat_bar" fxLayout="column" fxFlexFill
                    fxLayoutAlign="center center">
                    <div fxLayout="column" class="conversation" *ngFor="let message of conversation" fxLayoutAlign="center center">
                        <div class="user_message_contenter">
                            <div class="user_message">
                                {{ message.user }}
                            </div>
                        </div>
                        <div class="response_message_conterter" fxFlex="row">
                            <div class="chat_logo_image_response">
                                <img src="../../assets/校徽.gif" alt="校徽" fxLayoutAlign="center center">
                            </div>
                            <div class="response_message">
                                {{ message.response }}
                            </div>
                        </div>
                        <div id="bottom"></div>
                    </div>
                </div>
            </div>
            <div class="input_area" fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
                <div class="input_container" fxFlex="none" fxLayout="row" fxLayoutAlign="center center">
                    <mat-form-field fxFlex="none" class="input_field">
                        <textarea matInput [(ngModel)]="userInput"></textarea>
                    </mat-form-field>
                    <div class="send_icon" fxFlex="none" fxLayoutAlign="center center" (click)="on_click_enter_btn()"  [routerLink]="['#bottom']"  >
                        <span class="material-symbols-outlined send_button">send</span> <!-- 作为按钮 -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>