.header {
    background-color: #f0f8ff; /* AliceBlue */
}

.header_container {
    background-color: #faebd7; /* AntiqueWhite */
}

.user_icon {
    background-color: #e0ffff; /* LightCyan */
}

.content {
    background-color: #fffacd; /* LemonChiffon */
}

.menu {
    background-color: #ffe4c4; /* Bisque */
}

.menu_container {
    background-color: #ffebcd; /* BlanchedAlmond */
}

.menu_icon {
    background-color: #98fb98; /* PaleGreen */
}

.menu_items {
    background-color: #f5deb3; /* Wheat */
}

.chat_interface {
    background-color: #fff0f5; /* LavenderBlush */
}

.chat_header {
    background-color: #d3d3d3; /* LightGray */
}

.chat_logo {
    background-color: #ffb6c1; /* LightPink */
}

.chat_logo_image {
    background-color: #f0e68c; /* Khaki */
}

.chat_content {
    background-color: #ffebcd; /* BlanchedAlmond */
}

.announcement_container {
    background-color: #ffe0b5; /* LightSalmon */
}

.announcement_item {
    background-color: #ffe4e1; /* MistyRose */
}

.arrow_icon {
    background-color: #e6e6fa; /* Lavender */
}

.arrow_icon_inner {
    background-color: #fff5ee; /* Seashell */
}

.input_area {
    background-color: #f0fff0; /* HoneyDew */
}

.input_container {
    background-color: #f5f5dc; /* Beige */
}

.textarea_container {
    background-color: #e6e6fa; /* Lavender */
}

.send_icon {
    background-color: #ffcccb; /* LightCoral */
}
