<div>
    <div class="header" fxLayoutAlign="center center" fxLayout="row">
        <img alt="國立臺中科技大學" src="https://www.nutc.edu.tw/var/file/0/1000/img/2943/464250572.png">
    </div>
    <div class="content" fxLayoutAlign="center center">
        <div class="section" fxFlex="70">
            <div class="register" fxLayoutAlign="center">
                <div>註冊</div>
            </div>
            <form [formGroup]="form" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center">
                <div class="form_group" fxFlex="45" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
                    <div class="icon_container" fxLayout="row">
                        <span class="material-symbols-outlined">id_card</span>
                        &nbsp;
                        <div>姓名</div>
                    </div>
                    <mat-form-field class="input_bar">
                        <mat-label>姓名</mat-label>
                        <input matInput formControlName="name">
                        <!-- <mat-error *ngIf="form.get('name')?.hasError('required')">姓名是必填項目</mat-error> -->
                    </mat-form-field>
                </div>

                <div class="form_group" fxFlex="45" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
                    <div class="icon_container" fxLayout="row">
                        <span class="material-symbols-outlined">school</span>
                        &nbsp;
                        <div>科系</div>
                    </div>
                    <mat-form-field>
                        <mat-label>科系</mat-label>
                        <mat-select formControlName="major">
                            <mat-option value="資訊工程學系">資訊工程學系</mat-option>
                            <mat-option value="應用中文學系">應用中文學系</mat-option>
                            <mat-option value="應用日文學系">應用日文學系</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="form.get('major')?.hasError('required')">科系是必填項目</mat-error> -->
                    </mat-form-field>
                </div>

                <div class="form_group" fxFlex="45" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
                    <div class="icon_container" fxLayout="row">
                        <span class="material-symbols-outlined">person</span>
                        &nbsp;
                        <div>學號</div>
                    </div>
                    <mat-form-field>
                        <mat-label>學號</mat-label>
                        <input matInput formControlName="account">
                        <!-- <mat-error *ngIf="form.get('account')?.hasError('required')">學號是必填項目</mat-error> -->
                    </mat-form-field>
                </div>

                <div class="form_group" fxFlex="45" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
                    <div class="icon_container" fxLayout="row">
                        <span class="material-symbols-outlined">key</span>
                        &nbsp;
                        <div>密碼</div>
                    </div>
                    <mat-form-field>
                        <mat-label>密碼</mat-label>
                        <input matInput type="password" formControlName="password">
                        <!-- <mat-error *ngIf="form.get('password')?.hasError('required')">密碼是必填項目</mat-error> -->
                    </mat-form-field>
                </div>

                <div class="form_group" fxFlex="45" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
                    <div class="icon_container" fxLayout="row">
                        <span class="material-symbols-outlined">mail</span>
                        &nbsp;
                        <div>郵件</div>
                    </div>
                    <mat-form-field>
                        <mat-label>郵件</mat-label>
                        <input matInput formControlName="email" type="email" placeholder="pat@example.com">
                        <!-- <mat-error *ngIf="form.get('email')?.hasError('required')">郵件是必填項目</mat-error> -->
                        <mat-error *ngIf="form.get('email')?.hasError('email')">請輸入正確的郵件格式</mat-error>
                    </mat-form-field>
                </div>

                <div class="form_group" fxFlex="45" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
                    <div class="icon_container" fxLayout="row">
                        <span class="material-symbols-outlined">call</span>
                        &nbsp;
                        <div>手機</div>
                    </div>
                    <mat-form-field>
                        <mat-label>手機</mat-label>
                        <input matInput formControlName="phone" type="tel">
                        <!-- <mat-error *ngIf="form.get('phone')?.hasError('required')">手機是必填項目</mat-error> -->
                    </mat-form-field>
                </div>
            </form>

            <div class="btn_container" fxLayoutAlign="space-between">
                <button mat-button class="btn_enter" routerLink="/login">上一頁</button>
                <button mat-button class="btn_enter" (click)="onclick_register_btn()">確認</button>
            </div>
        </div>
    </div>
</div>