<div>
    <div class="header" fxLayoutAlign="center center" fxLayout="row">
        <img alt="國立臺中科技大學" src="https://www.nutc.edu.tw/var/file/0/1000/img/2943/464250572.png">
    </div>
    <div class="content" fxLayoutAlign="center center">
        <div class="section">
            <div class="register" fxLayoutAlign="center">
                <p>註冊</p>
            </div>
            <form fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center">
                <div class="form_group" fxFlex="45" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
                    <p>姓名</p>
                    <input type="text" matInput placeholder="姓名">
                </div>
                <div class="form_group" fxFlex="45" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
                    <p>科系</p>
                    <input type="text" matInput placeholder="科系">
                </div>
                <div class="form_group" fxFlex="45" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
                    <p>帳號</p>
                    <input type="text" matInput placeholder="帳號">
                </div>
                <div class="form_group" fxFlex="45" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
                    <p>密碼</p>
                    <input type="password" matInput placeholder="密碼">
                </div>
                <div class="form_group" fxFlex="45" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
                    <p>郵件</p>
                    <input type="text" matInput placeholder="郵件">
                </div>
                <div class="form_group" fxFlex="45" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
                    <p>手機</p>
                    <input type="text" matInput placeholder="手機">
                </div>
            </form>
            <div class="btn_container" fxLayoutAlign="space-between">
                <button mat-button class="btn_enter">確認</button>
                <button mat-button class="btn_enter">確認</button>
            </div>
        </div>
    </div>
</div>
